@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');




body {
    background-color: #141414;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    
}

.row {
    align-items: center ;
}

.topnav {
    background-color: #141414;
    float: right;
}

.topnav a {
    float: left;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    padding: 18px;
    font-family: "DM Sans", sans-serif;
    font-size: 2.7em;


}

.img-fluid.full-width-img {
    width: 100%;
    height: auto;
    display: block;
}

